.assembly {
    &-title {
        font-size  : 20px;
        font-weight: 400;
        margin     : 12px 0;
        color: rgba(0,0,0,.85);
    }
    &-component{
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
        line-height: 1.23;
        font-size: 30px;
        margin: 26px 0 5px;
    }
}

.code-api {
    margin-bottom: 24px;

    &-title {
        font-size  : 16px;
        font-weight: 400;
        margin     : 8px 0
    }

    &-table {
        margin-bottom: 24px;

        td code {
            color: @code-tips-color;
        }
    }

}